.showTime{
    display: flex;
}


.col_span_list{
    display: flex;
    justify-content: space-between;
}
.header-menu{
    display: flex;
    justify-content: space-between;
}
.header-menu-login{
    display: flex;
    justify-items: center;
    margin-top:auto;
    color: brown;

}

.fixed-sider {
    position: sticky;
    top: 0;
    z-index: 10; /* Đặt z-index lớn hơn các phần tử khác để đảm bảo nằm trên đầu */
  }
  
  /* Phần CSS cho Header */
  .fixed-header {
    position: sticky;
    top: 0;
    z-index: 10; /* Đặt z-index lớn hơn các phần tử khác để đảm bảo nằm trên đầu */
  }
  
  /* Phần CSS cho Content */
  .content-container {
    margin-top: 64px; /* Đặt margin-top để tránh bị đè bởi Sider và Header */
  }
  .col-titile{
    background-color: aqua;
    padding: 10px;
  }
  .login-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    margin: 50px auto;
  }

.ant-form ant-form-horizontal css-dev-only-do-not-override-11xg00t form-container .form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    width: 700px;
    margin: 50px auto;
}
:where(.css-dev-only-do-not-override-11xg00t).ant-layout .ant-layout-header, :where(.css-dev-only-do-not-override-11xg00t).ant-layout.ant-layout-footer{
  justify-content: space-between;
}