.layout-header {
  display: flex;
  background-color: blanchedalmond;
  align-items: center;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-between;
}
.layout-header-start {
  display: flex;
  line-height: 30px;
}
.layout-header-start div button {
  background-color: blanchedalmond;
  box-shadow: 0;
  border: none;
}
.layout-header-end {
  display: flex;
  line-height: 30px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}
.layout-header-end div {
  padding-left: 5px;
}
.layout-header-end div button {
  background-color: blanchedalmond;
  box-shadow: 0;
  border: none;
}
.layout-header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-header-center div {
  padding-left: 15px;
}
.layout-header-center-menu-choice-two {
  width: 160px;
}
.layout-header-center-menu-choice-end {
  width: 135px;
}
.layout-content {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  background-color: peru;
}
.layout-content-body {
  display: flex;
  padding-top: 30px;
}
.layout-content-header {
  padding-left: 20px;
  color: grey;
}
.layout-content-descript {
  padding-top: 10px;
  padding-right: 40px;
}

.layout-content-image {
  justify-content: center;
  padding-bottom: 40px;
}
.layout-content-descript ul li{
  list-style: none;
  font-size: 16px;
  color: white;
  padding-top: 10px;
}
.layout-footer .list-body{
  padding-top: 50px;
}