body {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(230, 230, 255, 1) 35%,
    rgba(200, 240, 255, 1) 100%
  );
}
  /* background: linear-gradient(90deg, rgba(255, 189, 68)0%, rgba(240, 98, 146)35%, rgba(0, 122, 166) 100%); */

.form-find-ticket {
  display: flex;
  width: 100%;
  height: 100px;
}
/* /ticket id detail/ */

.card-ticket-detail {
  margin-top: 100px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    900deg,
    rgba(255, 189, 68) 0%,
    rgba(240, 98, 146) 35%,
    rgba(0, 122, 166) 100%
  );
}

.backgroud-card {
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
}

@media only screen and (max-width: 480px) {
  .card-ticket-detail {
    margin-top: 0px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .backgroud-card {
    margin-top: 0px;
    border-radius: 5px;
    padding: 2px;
  }
  .ticket-info {
    margin-top: 5px;
  }

  .ticket-info ul {
    padding: 0;
    margin: 0;
  }

  .ticket-info li {
    margin-bottom: 10px;
  }

  .ticket-info h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .ticket-info p {
    margin-bottom: 5px;
  }

  .ticket-info span {
    font-weight: bold;
  }
  .name-film {
    color: white;
    font-size: 34px;
  }
  .name-film-header {
    display: block;
    padding: 10px;
  }
}

.ticket-info {
  margin-top: 20px;
}

.ticket-info ul {
  padding: 0;
  margin: 0;
}

.ticket-info li {
  margin-bottom: 10px;
}

.ticket-info h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.ticket-info p {
  margin-bottom: 5px;
}

.ticket-info span {
  font-weight: bold;
}
.name-film {
  color: white;
  font-size: 34px;
}
.name-film-header {
  display: flex;
  padding: 10px;
}
.name-film-header div {
  padding: 6px;
  color: yellow;
  font-family: "Brush Script MT", cursive;
}
.container-form-choice-seat {
  background: linear-gradient(
    90deg,
    rgba(255, 189, 68) 0%,
    rgba(240, 98, 146) 35%,
    rgba(0, 122, 166) 100%
  );
}
:where(.css-dev-only-do-not-override-11xg00t).ant-drawer .ant-drawer-body{
  width: 1200px;
}